{% extends "base.html" %}
{% load static %}

<!-- ------------------------------------------------------------------------------------------------------------
bloque titulo 
------------------------------------------------------------------------------------------------------------ -->
{% block titulo %}
InterfaceGeojsonListView
{% endblock %}


<!-- ------------------------------------------------------------------------------------------------------------ 
parte de css
------------------------------------------------------------------------------------------------------------ -->
{% block estilos_css %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
<link rel="stylesheet" type="text/css" href="{% static 'polls/dashboard/dashboard.css' %}">
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
<!-- Custom styles for this template -->
<link href="dashboard.css" rel="stylesheet">
{% endblock %}

<!-- ------------------------------------------------------------------------------------------------------------ 
parte de identificador
------------------------------------------------------------------------------------------------------------ -->
{% block identificador %}
InterfaceGeojsonListView
{% endblock %}


<!-- ------------------------------------------------------------------------------------------------------------ 
parte de bloque_1
------------------------------------------------------------------------------------------------------------ -->
{% block bloque_1 %}
<!-- primera parte -->
<div class="p-5">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h3>InterfaceGeojsonListView</h3>
    </div>
    <!-- aqui comienza la tabla -->
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>id</th>
                    <th>tipo_de_geojson</th>
                    <th>informacion</th>
                    <th>juego_de_arrays</th>
                    <th>color</th>

                    <th>read</th>
                    <th>update</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- -------------- -->

                {% for article in object_list %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.tipo_de_geojson }}</td>
                    <td>{{ article.informacion }}</td>
                    <td>{{ article.juego_de_arrays }}</td>
                    <td>{{ article.color }}</td>
                    <td>there is nothing to read</td>
                    <td><a href="{% url 'polls:interfaceGeojsonUpdate' article.id %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">update</a></td>
                    <td><a href="{% url 'polls:interfaceGeojsonDelete' article.id %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">delete</a></td>
                    {% empty %}
                    <li>Aun no se ha registrado algun proyecto.</li>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <!-- fin de la tabla -->

    <!-- CREATE -->
   
    <a href="{% url 'polls:interfaceGeojsonCreate' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">create</a>
    
</div>
{% endblock %}
<!-- ------------------------------------------------------------------------------------------------------------ 
parte de javascript
------------------------------------------------------------------------------------------------------------ -->
{% block javascript_ %}
<script src="https://cdnjs.com/libraries/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="{% static 'polls/dashboard/hola.js' %}"></script>
{% endblock %}