{% extends "base.html" %}
{% load static %}

<!-- ------------------------------------------------------------------------------------------------------------
bloque titulo 
------------------------------------------------------------------------------------------------------------ -->
{% block titulo %}
PortafolioListView
{% endblock %}


<!-- ------------------------------------------------------------------------------------------------------------ 
parte de css
------------------------------------------------------------------------------------------------------------ -->
{% block estilos_css %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
<link rel="stylesheet" type="text/css" href="{% static 'polls/dashboard/dashboard.css' %}">
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
<!-- Custom styles for this template -->
<link href="dashboard.css" rel="stylesheet">
{% endblock %}

<!-- ------------------------------------------------------------------------------------------------------------ 
parte de identificador
------------------------------------------------------------------------------------------------------------ -->
{% block identificador %}
PortafolioListView
{% endblock %}


<!-- ------------------------------------------------------------------------------------------------------------ 
parte de bloque_1
------------------------------------------------------------------------------------------------------------ -->
{% block bloque_1 %}
<!-- primera parte -->
<div class="p-5">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h3>Larger shadow</h3>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>
    <canvas class="my-4 w-100" id="myChartz" width="900" height="380"></canvas>
</div>
<div class="p-5">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h3>Larger shadow</h3>
    </div>
    <!-- aqui comienza la tabla -->
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>cliente</th>
                    <th>descripcion</th>
                    <th>tipo</th>
                    <th>fecha_inicio</th>
                    <th>fecha_fin</th>
                    <th>jp</th>
                    <th>ie</th>
                    <th>sedes_total</th>
                    <th>sedes_pendientes</th>
                    <th>foto_alcance</th>
                    <th>prueba</th>
                    <th>read</th>
                    <th>update</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- -------------- -->
                {% for article in object_list %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.nombre }}</td>
                    <td>{{ article.cliente }}</td>
                    <td>{{ article.descripcion }}</td>
                    <td>{{ article.tipo }}</td>
                    <td>{{ article.fecha_inicio }}</td>
                    <td>{{ article.fecha_fin }}</td>
                    <td>{{ article.jp }}</td>
                    <td>{{ article.ie }}</td>
                    <td>{{ article.sedes_total }}</td>
                    <td>{{ article.sedes_pendientes }}</td>
                    <td>{{ article.foto_alcance }}</td>
                    <td>{{ article.prueba }}</td>
                    <!-- READ UPDATE DELETE -->
                    <td><a href="{% url 'polls:proyecto' article.id %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">read</a></td>
                    <td><a href="{% url 'polls:proyectoUpdate' article.id %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">update</a></td>
                    <td><a href="{% url 'polls:proyectoDelete' article.id %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">delete</a></td>
                    <!-- <li>{{ article.pub_date|date }} - {{ article.headline }}</li> -->
                    {% empty %}
                    <li>Aun no se ha registrado algun proyecto.</li>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <!-- fin de la tabla -->

    <!-- CREATE -->
    <a href="{% url 'polls:proyectoCreate' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">create</a>
</div>
{% endblock %}
<!-- ------------------------------------------------------------------------------------------------------------ 
parte de javascript
------------------------------------------------------------------------------------------------------------ -->
{% block javascript_ %}
<script src="https://cdnjs.com/libraries/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="{% static 'polls/dashboard/hola.js' %}"></script>
{% endblock %}