{% extends "base.html" %}
{% load static %}

<!-- ------------------------------------------------------------------------------------------------------------
bloque titulo 
------------------------------------------------------------------------------------------------------------ -->
{% block titulo %}
TrabajoDetailView
{% endblock %}
<!-- ------------------------------------------------------------------------------------------------------------
bloque identificador 
------------------------------------------------------------------------------------------------------------ -->

{% block identificador %}
TrabajoDetailView
{% endblock %}

<!-- ------------------------------------------------------------------------------------------------------------
bloque bloque 1 
------------------------------------------------------------------------------------------------------------ -->

{% block bloque_1 %}
<div class="p-5">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h3>{{ trabajo.nombre_servicio }}</h3>
    </div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">TIPO</th>
                <th scope="col">INFORMACION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">llave_forenea</th>
                <td>{{ trabajo.llave_forenea }}</td>
            </tr>
            <tr>
                <th scope="row">nombre_servicio</th>
                <td>{{ trabajo.nombre_servicio }}</td>
            </tr>
            <tr>
                <th scope="row">avance</th>
                <td>{{ trabajo.avance }}</td>
            </tr>
            <tr>
                <th scope="row">activo_capa_fisica</th>
                <td>{{ trabajo.activo_capa_fisica }}</td>
            </tr>
            <tr>
                <th scope="row">activo_capa_acceso</th>
                <td>{{ trabajo.activo_capa_acceso }}</td>
            </tr>
            <tr>
                <th scope="row">activo_capa_red</th>
                <td>{{ trabajo.activo_capa_red }}</td>
            </tr>
            <tr>
                <th scope="row">activo_capa_trasporte</th>
                <td>{{ trabajo.activo_capa_trasporte }}</td>
            </tr>
            <tr>
                <th scope="row">activo_capa_aplicacion</th>
                <td>{{ trabajo.activo_capa_aplicacion }}</td>
            </tr>
            <tr>
                <th scope="row">estado_capa_fisica</th>
                <td>{{ trabajo.estado_capa_fisica }}</td>
            </tr>
            <tr>
                <th scope="row">estado_capa_acceso</th>
                <td>{{ trabajo.estado_capa_acceso }}</td>
            </tr>
            <tr>
                <th scope="row">estado_capa_red</th>
                <td>{{ trabajo.estado_capa_red }}</td>
            </tr>
            <tr>
                <th scope="row">estado_capa_trasporte</th>
                <td>{{ trabajo.estado_capa_trasporte }}</td>
            </tr>
            <tr>
                <th scope="row">estado_capa_aplicacion</th>
                <td>{{ trabajo.estado_capa_aplicacion }}</td>
            </tr>
            <tr>
                <th scope="row">datos_capa_fisica</th>
                <td>{{ trabajo.datos_capa_fisica }}</td>
            </tr>
            <tr>
                <th scope="row">datos_capa_acceso</th>
                <td>{{ trabajo.datos_capa_acceso }}</td>
            </tr>
            <tr>
                <th scope="row">datos_capa_red</th>
                <td>{{ trabajo.datos_capa_red }}</td>
            </tr>
            <tr>
                <th scope="row">datos_capa_trasporte</th>
                <td>{{ trabajo.datos_capa_trasporte }}</td>
            </tr>
            <tr>
                <th scope="row">datos_capa_aplicacion</th>
                <td>{{ trabajo.datos_capa_aplicacion }}</td>
            </tr>
            <tr>
                <th scope="row">responsable_capa_fisica</th>
                <td>{{ trabajo.responsable_capa_fisica }}</td>
            </tr>
            <tr>
                <th scope="row">responsable_capa_acceso</th>
                <td>{{ trabajo.responsable_capa_acceso }}</td>
            </tr>
            <tr>
                <th scope="row">responsable_capa_red</th>
                <td>{{ trabajo.responsable_capa_red }}</td>
            </tr>
            <tr>
                <th scope="row">responsable_capa_trasporte</th>
                <td>{{ trabajo.responsable_capa_trasporte }}</td>
            </tr>
            <tr>
                <th scope="row">responsable_capa_aplicacion</th>
                <td>{{ trabajo.responsable_capa_aplicacion }}</td>
            </tr>
        </tbody>
    </table>
</div>



{% endblock %}